i,
span,
output {
    color: white;
    text-align: left;
}
.tab-title {
/* background-color: #B2FF99;*/
 /*vertical-align: top;*/
 height:45px;
  
}

body {
    
    background: #282828; !important;
     
}

.labelSwitch {
    color: white;
}

.labelPID {
    color: white;
    text-align: center;
     font-size: 0.875em; 
}

.PIDSliderLabel{
    color: white;
    text-align: center;
     font-size: 0.875em; 
}

span,
output
{
    color: white;
    text-align: left;
}





div.switch label {
  display: block;
  margin-bottom: 1rem;
  position: relative;
  color: white;
  background: #dddddd;
  text-indent: 100%;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  transition: left 0.15s ease-out; }
div.switch input {
  display: none; }
  div.switch input + label {
    margin-left: 0;
    margin-right: 0; }
div.switch label:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
div.switch input:checked + label {
  background: #008cba; }
div.switch input:checked + label:after {
  left: 2.25rem; }
div.switch label {
  width: 4rem;
  height: 2rem; }
div.switch label:after {
  width: 1.5rem;
  height: 1.5rem; }
div.switch input:checked + label:after {
  left: 2.25rem; }
div.switch label {
  color: transparent;
  background: #dddddd; }
div.switch label:after {
  background: white; }
div.switch input:checked + label {
  background: #008cba; }
div.switch.large label {
  width: 5rem;
  height: 2.5rem; }
div.switch.large label:after {
  width: 2rem;
  height: 2rem; }
div.switch.large input:checked + label:after {
  left: 2.75rem; }
div.switch.small label {
  width: 3.5rem;
  height: 1.75rem; }
div.switch.small label:after {
  width: 1.25rem;
  height: 1.25rem; }
div.switch.small input:checked + label:after {
  left: 2rem; }
div.switch.tiny label {
  width: 3rem;
  height: 1.5rem; }
div.switch.tiny label:after {
  width: 1rem;
  height: 1rem; }
div.switch.tiny input:checked + label:after {
  left: 1.75rem; }
div.switch.radius label {
  border-radius: 4px; }
div.switch.radius label:after {
  border-radius: 3px; }
div.switch.round {
  border-radius: 1000px; }
  div.switch.round label {
    border-radius: 2rem; }
  div.switch.round label:after {
    border-radius: 2rem; }

input[class=PIDControlSlider] {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 250px;}
    
input[class=Throttle] {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 250px;}

input[class=PIDControlSlider]::-webkit-slider-runnable-track {
    width: 20px;
    height: 250px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[class=PIDControlSlider]::-webkit-slider-thumb {
    -webkit-appearance: slider-vertical;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[class=PIDControlSlider]:focus {
    outline: none;
}

input[class=PIDControlSlider]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

   
		#info {
			position	: absolute;
			top		: 0px;
			width		: 100%;
			padding		: 5px;
			text-align	: center;
		}
		#info a {
			color		: #66F;
			text-decoration	: none;
		}
		#info a:hover {
			text-decoration	: underline;
		}
		#container {
			width		: 250px;
			height		: 250px;
			overflow	: hidden;
			padding		: 5px;
			margin		: 5px;
			border-width: 2px;
			border-style: dashed; 
			-webkit-user-select	: none;
			-moz-user-select	: none;
		}
                 
