body {
    background: #282828;
    !important;
}
.labelSwitch {
    color: white;
}
.fa {
  color: white;
}

#parent {display: table}

#child {
  display: table-cell;
  vertical-align: middle;
 }

table,
th,
td {
background-color: #282828;
color: transparent;

border : none;
text-align: center;
vertical-align: middle;
}

h4,
p,ul
{

color: white;
    
}
h5.left {
  margin-right:0.5rem;
  color: white;
}


span,
output {
    color: white;
    text-align: left;
}